test.ts
test/**/*
tests/**/*
docs/**/*
support/**/*
examples/**/*

dist/**/*

*._dsl.ts
*._instr.*
.cc

**/isolate-*
*.tgz
*.log

*.key
*.pem
*.crt

secrets
book.json
.secrets.json
*.properties

.eslintrc
todo.txt
